<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://com.bistiboy.agricola/1.0"
            class="com.bistiboy.agricola.impl.AgricolaFactoryImpl">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.bistiboy.agricola/1.0"
            class="com.bistiboy.agricola.MAgricolaPackage">
      </package>
   </extension>

</plugin>
